body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f9;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #222;
    color: white;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 60px;
    background: #007bff;
    color: white;
}

section {
    padding: 40px;
    text-align: center;
}

.project {
    background: white;
    padding: 15px;
    margin: 10px auto;
    width: 60%;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
} 
