body {
    font-family: Arial;
    text-align: center;
    background: #f4f6f9;
}

h1 {
    color: #333;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #007bff;
    color: white;
}

#topStudent {
    margin-top: 20px;
    color: green;
}
